@using JobBroad.Models
@using Job.Repository
@model JobViewModel

@{
    ViewBag.Title = "AppliedSeekers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    JobViewModel sm = new JobViewModel();

    SeekerRepository sr = new SeekerRepository();
    Job0Repository jr = new Job0Repository();
    JobSeekerRepository jsr = new JobSeekerRepository();

    List<JobViewModel>
        JobModel = (from s in sr.List().ProcessResult
                    join js in jsr.List().ProcessResult on s.empId equals js.SeekerId
                    join j in jr.List().ProcessResult on js.JobId equals j.JobId
                    where j.JobId == Model.Job.JobId
                    select new JobViewModel
                    {
                        Job = j,
                        Seeker = s,
                        JobSeeker = js
                    }).ToList();
}


<div class="alice-bg section-padding-bottom">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="job-listing-container">
                    <div class="filtered-job-listing-wrapper">
                        <div class="job-filter-result">

                            @if (JobModel.Count!=0)
                            {
                               
                                foreach (var item in JobModel)
                                {
                                    <div class="job-list">
                                        <div class="thumb">
                                            <img src="~/Upload/@item.Seeker.empPhoto" class="img-fluid" alt="">
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="#">@item.Seeker.empName</a></h4>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="~/Home/ShowResume/@item.Seeker.empUserId" class="button primary-bg btn-block" style="color:#ffffff; min-width:100px; text-align:center">Show CV</a>
                                      
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <div>
                                    <p>There are no candidates applying for this ad.</p>
                                </div>
                            }


                            <div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


