@using JobBroad.Models
@model SearchModel

@{
    ViewBag.Title = "FilteredJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
        <div class="row">
            @foreach (var item in Model.findings)
            {
                <div class="col-lg-6">
                    <div class="job-list half-grid">
                        <div class="thumb">
                            <a href="~/Content/#">
                                <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                            </a>
                        </div>

                        <div class="body">
                            <div class="content">
                                <h4><a href="~/Content/job-details.html">@item.JobTitle</a></h4>
                                <div class="info">
                                    <span class="company"><a href="~/Content/#"><i data-feather="briefcase"></i>Geologitic</a></span>
                                    <span class="office-location"><a href="~/Content/#"><i data-feather="map-pin"></i>New Orleans</a></span>
                                    <span class="job-type temporary"><a href="~/Content/#"><i data-feather="clock"></i>Temporary</a></span>
                                </div>
                            </div>
                            <div class="more">
                                <div class="buttons">
                                    <a href="~/Content/#" class="button">Apply Now</a>
                                    <a href="~/Content/#" class="favourite"><i data-feather="heart"></i></a>
                                </div>
                                <p class="deadline">Deadline: Oct 31, 2018</p>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div class="col-lg-6">
                <div class="job-list half-grid">
                    <div class="thumb">
                        <a href="~/Content/#">
                            <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4><a href="~/Content/job-details.html">Designer Required</a></h4>
                            <div class="info">
                                <span class="company"><a href="~/Content/#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                <span class="office-location"><a href="~/Content/#"><i data-feather="map-pin"></i>New York City</a></span>
                                <span class="job-type full-time"><a href="~/Content/#"><i data-feather="clock"></i>Full Time</a></span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="~/Content/#" class="button">Apply Now</a>
                                <a href="~/Content/#" class="favourite"><i data-feather="heart"></i></a>
                            </div>
                            <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
        <div class="row">
            <div class="col-lg-6">
                <div class="job-list half-grid">
                    <div class="thumb">
                        <a href="~/Content/#">
                            <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4><a href="~/Content/job-listing.html">UI Designer</a></h4>
                            <div class="info">
                                <span class="company"><a href="~/Content/#"><i data-feather="briefcase"></i>Degoin</a></span>
                                <span class="office-location"><a href="~/Content/#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                <span class="job-type part-time"><a href="~/Content/#"><i data-feather="clock"></i>Part Time</a></span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="~/Content/#" class="button">Apply Now</a>
                                <a href="~/Content/#" class="favourite"><i data-feather="heart"></i></a>
                            </div>
                            <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="job-list half-grid">
                    <div class="thumb">
                        <a href="~/Content/#">
                            <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4><a href="~/Content/job-details.html">Land Development Marketer</a></h4>
                            <div class="info">
                                <span class="company"><a href="~/Content/#"><i data-feather="briefcase"></i>Realouse</a></span>
                                <span class="office-location"><a href="~/Content/#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                                <span class="job-type freelance"><a href="~/Content/#"><i data-feather="clock"></i>Freelance</a></span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="~/Content/#" class="button">Apply Now</a>
                                <a href="~/Content/#" class="favourite"><i data-feather="heart"></i></a>
                            </div>
                            <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

