@model IEnumerable<Job.Entity.Seeker>
@{
    ViewBag.Title = "ListCandidate";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alice-bg section-padding-bottom">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="job-listing-container">
                    <div class="filtered-job-listing-wrapper">
                        <div class="job-view-controller-wrapper">
                            <div class="showing-number">
                                <span>Showing 1–12 of 28 Jobs</span>
                            </div>
                        </div>

                        <div class="job-filter-result">

                            @foreach (var item in Model)
                            {
                                <div class="job-list">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/Upload/@item.empPhoto" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a href="#">@item.empName @item.empSurname</a></h4>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="~/Home/ShowResume/@item.empId"> Bu adayın Cv'sini görüntüle</a>
                                    </div>
                                </div>

                            }

                            <div>

                            </div>
                        </div>
                        <div class="pagination-list text-center">
                            <nav class="navigation pagination">
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                                    <a class="page-numbers" href="#">1</a>
                                    <span aria-current="page" class="page-numbers current">2</span>
                                    <a class="page-numbers" href="#">3</a>
                                    <a class="page-numbers" href="#">4</a>
                                    <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

