@model IEnumerable<Job.Entity.JobO>

@{
    ViewBag.Title = "ListAllJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alice-bg section-padding-bottom">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <div class="job-listing-container">
                    <div class="filtered-job-listing-wrapper">
                       
                        <div class="job-filter-result">

                            @foreach (var item in Model)
                            {
                                <div class="job-list">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/Upload/@item.Company.CompPhoto" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4><a href="~/Home/JobDetail/@item.JobId" type="button">@item.JobTitle</a></h4>
                                            
                                        </div>
                                        <div class="more">
                                           

                                                <a href="/Home/JobDetail/@item.JobId" class="button primary-bg btn-block" style="color:#ffffff;  text-align:center; width:100px">Show</a>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div>

                                </div>
                            }
                        </div>
                  
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

