@using Job.Entity
@model User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="alert alert-info" role="alert">
    @ViewBag.SignIn
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="access-form">
                <div class="form-header">
                    <h5><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Login</h5>
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Mail Address:</label><br />
                        @Html.EditorFor(model => model.userMail, new { @class = "form-group"})
                    </div>
                    <div class="form-group">
                        <label>Password:</label><br />
                        @Html.EditorFor(model => model.userPassword, new { @class = "form-group" })
                    </div>

                    <button class="button primary-bg btn-block">Login</button>
                }
                <div class="shortcut-login">
                    <p>Don't have an account? <a href="~/Home/Register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>








