@using JobBroad.Models
@using Job.Entity
@model ResumeViewModel
@{
    ViewBag.Title = "ResumeAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1>Add Resume</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Resume</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="post-container">
                    <div class="post-content-wrapper">

                        <div class="basic-info-input">
                            
                            @using (Html.BeginForm("ResumeAdd", "Home", FormMethod.Post, new { @class = "job-post-form", enctype = "multipart/form-data" }))
                            {
                                <h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="12" y1="8" x2="12" y2="16"></line>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                    Add Resume
                                </h4>
                                <div id="details" class="row">
                                    <label class="col-md-3 col-form-label">Give Name to Your CV </label>
                                    <div class="col-md-12">
                                        <div class="row">
                                            @Html.HiddenFor(model=>model.User.userId)
                                            @Html.EditorFor(model => model.CV.CvName, new { @class = "form-control", @placeholder = "Name" })
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="button primary-bg btn-block" style="color:#ffffff; max-width:80px" >SAVE</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

