 @using JobBroad.Models
 @model JobViewModel
 @{
    ViewBag.Title = "ShowResume";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="candidate-details">
    <div class="title-and-info">
        <div class="title">
            <div class="thumb">
                <img src="images/candidate/thumb-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="title-body">
                <h4> @Html.DisplayFor(model=>model.Seeker.empName) @Html.DisplayFor(model=>model.Seeker.empSurname)</h4>
                <div class="info">
                    <span class="candidate-designation"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> @Html.DisplayFor(model => model.Seeker.empMainJob)</span>
                    <span class="candidate-location"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> @Html.DisplayFor(model => model.Seeker.empMainLocation)</span>
                </div>
            </div>
        </div>
        <div class="download-resume">
            <a href="#">Download CV <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></a>
        </div>
    </div>
    
    
    
</div>

